BITGET_QWEN_API_KEY=
EVENTPULSE_MODE=paper
EVENTPULSE_MAX_FINALISTS=5
EVENTPULSE_MIN_CONFIDENCE=0.60
EVENTPULSE_MAX_SPREAD_BPS=25
EVENTPULSE_MIN_TURNOVER_24H=5000000
EVENTPULSE_TAKER_FEE_BPS=6
EVENTPULSE_LOOP_SECONDS=60
EVENTPULSE_MAX_TRADES_PER_DAY=8
